{% load static from staticfiles %}
{% load i18n %}


<h2 style="font-family:Arial,sans-serif;color:#494e41;text-align:center;font-size:18px;padding:40px 0 40px 0;">German version of footer email template</h2>
<!--German template-->
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="http://microformats.org/profile/hcard">
    <style>
        a{text-decoration:none;}
        @media(max-width:414px) {
            .row {display:block;width:100%;}
            .second-table {width:100%;margin:10px 0 0 0;}
         }
    </style>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="vcard">
    <tbody>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td><img width="1" height="1" src="{% static 'i/blank.gif' %}" nosend="1" alt=""></td></tr>
            <tr><td style="height:10px;display:block">&nbsp;</td></tr>
            <tr>
                <td style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">
                    <span class="given-name">((FirstName))&nbsp;</span>
                    <span class="family-name">((LastName))</span>
                </td>
            </tr>
            <tr><td><span class="title" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((JobTitle))</span>&nbsp;</td></tr>
            <tr><td style="height:10px;display:block">&nbsp;</td></tr>
          </table>
          <table width="100%" cellspacing="0" cellpadding="0" style="border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;">
            <tbody>
              <tr>
                <td class="row">
                  <table class="adr" width="100%" cellspacing="0" border="0" cellpadding="0">
                    <tr><td style="height:10px;display:block">&nbsp;</td></tr>
                    <tr>
                      <td class="tel">
                          <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Direkt:&nbsp;</span>
                          <a class="value" href="tel:((Phone))" style="text-decoration:none;outline:none;color:#494e41;font-size:12pt;font-family:Arial,sans-serif;">((Phone))</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="tel">
                          <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41">Telefon:&nbsp;</span>
                          <a class="value" href="tel:((Mobile))" style="text-decoration:none;outline:none;color:#494e41;font-size:12pt;font-family:Arial,sans-serif;">((Mobile))</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="email">
                          <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41">Email:&nbsp;</span>
                          <a class="value" href="mailto:((Email))" style="text-decoration:none;outline:none;color:#494e41;font-size:12pt;font-family:Arial,sans-serif;">((Email))</a>
                          <div style="height:10px;display:block">&nbsp;</div>
                      </td>
                    </tr>
                    <tr><td><span class="org" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41">MoneyPark AG</span></td></tr>
                    <tr><td><span class="street-address" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41">((Street))</span></td></tr>
                    <tr>
                      <td style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41">
                          <span class="postal-code">((ZIP))&nbsp;</span>
                          <span class="locality">((City))</span>
                      </td>
                    </tr>
                    <tr><td style="height:20px;display:block">&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="https://moneypark.ch/en/" target="_blank" style="font-family:Arial,sans-serif;font-size:20px;color:#789e56;display:block;line-height:52px;padding-right:5px;">
                                <img src="{{ STATIC_URL }}i/lde.png" style="background:transparent;text-align:center;" width="221" height="59" alt="www.moneypark.ch" nosend="1">
                            </a>
                        </td>
                    </tr>
                  </table>
                </td>
                <td style="text-align:right" class="row" align="right">
                  <table width="275" class="second-table" cellspacing="20" border="0" cellpadding="0" style="background-color:#789e56;text-align:center" align="right">
                    <tbody>
                      <tr><td style="height:1px;display:block">&nbsp;</td></tr>
                      <tr><td><img src="{{ STATIC_URL }}i/speaker.png" width="83" height="45" nosend="1" alt=""></td></tr>
                      <tr>
                        <td>
                            <a href="https://moneypark.ch/news-wissen/weiterempfehlen/" target="_blank" style="font-family:Arial,sans-serif;font-size:16px;color:#fff;display:block;line-height:50px;text-align:center;">
                                <img src="{{ STATIC_URL }}i/rde.png" alt="MoneyPark weiterempfehlen" width="210" height="60" nosend="1" style="text-align:center;background:transparent;">
                            </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <a href="https://moneypark.ch/news-wissen/weiterempfehlen/" target="_blank" style="font-family:Arial,sans-serif;font-size:14px;color:#fff;display:block;line-height:28px;">
                                <img src="{{ STATIC_URL }}i/rdeun.png" alt="und einen Gutschein im Wert von CHF 200 erhalten" width="210" height="60" nosend="1" style="text-align:center;background:transparent;">
                            </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellspacing="0" border="0" cellpadding="0">
                            <tr>
                              <td><img src="{{ STATIC_URL }}i/lunch.png" width="54" height="52" nosend="1"></td>
                              <td><img src="{{ STATIC_URL }}i/chair.png" width="54" height="52" nosend="1"></td>
                              <td><img src="{{ STATIC_URL }}i/mask.png" width="44" height="42" nosend="1"></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
{% endspaceless %}
<!--end German template-->


<!--En Template-->
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="http://microformats.org/profile/hcard">
    <style>
        a{text-decoration:none;}
        @media(max-width:414px) {
            .row {display:block;width:100%;}
            .second-table {width:100%;margin:10px 0 0 0;}
         }
    </style>
</head>
<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="vcard">
    <tbody>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td><img width="1" height="1" src="{% static 'i/blank.gif' %}" border="0" nosend="1" alt=""></td></tr>
            <tr><td style="height:10px;display:block">&nbsp;</td></tr>
            <tr>
                <td style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">
                    <span class="given-name">((FirstName))&nbsp;</span>
                    <span class="family-name">((LastName))</span>
                </td>
            </tr>
            <tr><td><span class="title" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((JobTitle))</span>&nbsp;</td></tr>
            <tr><td style="height:10px;display:block">&nbsp;</td></tr>
          </table>
          <table width="100%" cellspacing="0" cellpadding="0" style="border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;">
            <tbody>
              <tr>
                <td class="row">
                  <table class="adr" width="100%" cellspacing="0" border="0" cellpadding="0">
                    <tr><td style="height:10px;display:block">&nbsp;</td></tr>
                    <tr>
                      <td class="tel">
                          <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Direct:&nbsp;</span>
                          <a href="tel:((Phone))" class="value" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;text-decoration:none;outline:none">((Phone))</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="tel">
                          <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Company:&nbsp;</span>
                          <a href="tel:((Mobile))" class="value" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;text-decoration:none;outline:none;">((Mobile))</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="email">
                          <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Email:&nbsp;</span>
                          <a href="mailto:((Email))" class="value" style="text-decoration:none;outline:none;font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((Email))</a>
                          <div style="height:10px;display:block">&nbsp;</div>
                      </td>
                    </tr>
                    <tr><td><span class="org" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">MoneyPark AG</span></td></tr>
                    <tr><td><span class="street-address" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((Street))</span></td></tr>
                    <tr>
                        <td style="font-family:Arial,sans-serif;font-size:10pt;color:#494e41">
                            <span class="postal-code">((ZIP))&nbsp;</span>
                            <span class="locality">((City))</span>
                        </td>
                    </tr>
                    <tr><td style="height:20px;display:block">&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="https://moneypark.ch/en/" target="_blank" style="font-family:Arial,sans-serif;font-size:20px;color:#789e56;display:block;line-height:52px;padding-right:5px;">
                                <img src="{{ STATIC_URL }}i/len.png" style="background:transparent;text-align:center;" width="221" height="58" border="0" nosend="1" alt="www.moneypark.ch">
                            </a>
                        </td>
                    </tr>
                  </table>
                </td>
                <td style="text-align:right" class="row" align="right">
                  <table align="right" class="second-table" width="275" cellspacing="20" border="0" cellpadding="0" style="background-color:#789e56;text-align:center">
                    <tbody>
                      <tr><td style="height:1px;display:block">&nbsp;</td></tr>
                      <tr><td><img src="{{ STATIC_URL }}i/speaker.png" width="83" height="45" border="0" nosend="1" alt=""></td></tr>
                      <tr>
                        <td>
                            <a href="https://moneypark.ch/en/recommend-moneypark/" target="_blank" style="font-family:Arial,sans-serif;font-size:16px;color:#fff;display:block;line-height:40px;">
                                <img src="{{ STATIC_URL }}i/ren.png" width="210" height="60" border="0" nosend="1" alt="Recommend MoneyPark" style="text-align:center;">
                            </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <a href="https://moneypark.ch/en/recommend-moneypark/" target="_blank" style="font-family:Arial,sans-serif;font-size:14px;color:#fff;display:block;line-height:28px;">
                                <img src="{{ STATIC_URL }}i/renun.png" width="210" height="60" border="0" nosend="1" alt="and receive a voucher worth CHF 200" style="text-align:center;">
                            </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellspacing="0" border="0" cellpadding="0">
                            <tr>
                              <td><img src="{{ STATIC_URL }}i/lunch.png" width="54" height="52" border="0" nosend="1" alt=""></td>
                              <td><img src="{{ STATIC_URL }}i/chair.png" width="54" height="52" border="0" nosend="1" alt=""></td>
                              <td><img src="{{ STATIC_URL }}i/mask.png" width="44" height="42" border="0" nosend="1" alt=""></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
{% endspaceless %}
<!--end EN Template-->


<h2 style="font-family:Arial,sans-serif;color:#494e41;text-align:center;font-size:18px;padding:40px 0 40px 0;">French version of footer email template</h2>
<!--French template-->
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="http://microformats.org/profile/hcard">
    <style>
        a{text-decoration:none;}
        @media(max-width:414px) {
            .row {display:block;width:100%;}
            .second-table {width:100%;margin:10px 0 0 0;}
         }
    </style>
</head>
<body>
<table class="vcard" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td><img width="1" height="1" src="{% static 'i/blank.gif' %}" nosend="1" alt=""></td></tr>
            <tr><td style="height:10px;display:block">&nbsp;</td></tr>
            <tr>
                <td style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">
                    <span class="given-name">((FirstName))&nbsp;</span>
                    <span class="family-name">((LastName))</span>
                </td>
            </tr>
            <tr><td><span class="title" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((JobTitle))</span>&nbsp;</td></tr>
            <tr><td style="height:10px;display:block">&nbsp;</td></tr>
          </table>
          <table width="100%" cellspacing="0" cellpadding="0" style="border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;">
            <tbody>
              <tr>
                <td class="row">
                  <table class="adr" width="100%" cellspacing="0" border="0" cellpadding="0">
                    <tr><td style="height:10px;display:block">&nbsp;</td></tr>
                    <tr>
                      <td class="tel">
                          <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Ligne directe:&nbsp;</span>
                          <a href="tel:((Phone))" class="value" style="text-decoration:none;outline:none;font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((Phone))</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="tel">
                          <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Téléphone:&nbsp;</span>
                          <a href="tel:((Mobile))" class="value" style="text-decoration:none;outline:none;font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((Mobile))</a>
                      </td>
                    </tr>
                    <tr>
                      <td class="email">
                          <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Email:&nbsp;</span>
                          <a href="mailto:((Email))" class="value" style="text-decoration:none;outline:none;font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((Email))</a>
                          <div style="height:10px;display:block">&nbsp;</div>
                      </td>
                    </tr>
                    <tr><td><span class="org" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41">MoneyPark AG</span></td></tr>
                    <tr><td><span class="street-address" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41">((Street))</span></td></tr>
                    <tr>
                      <td style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">
                          <span class="postal-code">((ZIP))&nbsp;</span><span class="locality">((City))</span>
                      </td>
                    </tr>
                    <tr><td style="height:20px;display:block">&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="https://moneypark.ch/fr/" target="_blank" style="font-family:Arial,sans-serif;font-size:20px;color:#789e56;display:block;line-height:52px;padding-right:5px;">
                                <img src="{{ STATIC_URL }}i/lfr.png" style="background:transparent;text-align:center;" width="221" height="58" border="0" nosend="1" alt="www.moneypark.ch">
                            </a>
                        </td>
                    </tr>
                  </table>
                </td>
                <td style="text-align:right" class="row" align="right">
                  <table class="second-table" width="275" cellspacing="20" border="0" cellpadding="0" align="right" style="background-color:#789e56;text-align:center">
                    <tbody>
                      <tr><td style="height:1px;display:block">&nbsp;</td></tr>
                      <tr>
                        <td><img src="{{ STATIC_URL }}i/speaker.png" width="83" height="45" nosend="1" alt=""></td>
                      </tr>
                      <tr>
                        <td>
                            <a href="https://moneypark.ch/it/raccomandare-moneypark/" target="_blank" style="font-family:Arial,sans-serif;font-size:12pt;color:#fff;display:block;line-height:50px;">
                                <img src="{{ STATIC_URL }}i/rfr.png" width="210" height="60" border="0" nosend="1" alt="Recommander MoneyPark" style="text-align:center;">
                            </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <a href="https://moneypark.ch/it/raccomandare-moneypark/" target="_blank" style="font-family:Arial,sans-serif;font-size:12pt;color:#fff;display:block;line-height:28px;">
                                <img src="{{ STATIC_URL }}i/rfrun.png" width="210" height="60" border="0" nosend="1" alt="et recevoir un bon d’une valeur de CHF 200" style="text-align:center;">
                            </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellspacing="0" border="0" cellpadding="0">
                            <tr>
                              <td><img src="{{ STATIC_URL }}i/lunch.png" width="54" height="52" nosend="1" alt=""></td>
                              <td><img src="{{ STATIC_URL }}i/chair.png" width="54" height="52" nosend="1" alt=""></td>
                              <td><img src="{{ STATIC_URL }}i/mask.png" width="44" height="42" nosend="1" alt=""></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
{% endspaceless %}
<!--end French template-->


<h2 style="font-family:Arial,sans-serif;color:#494e41;text-align:center;font-size:18px;padding:40px 0 40px 0;">Italian version of footer email template</h2>
<!--Italian template-->
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="profile" href="http://microformats.org/profile/hcard">
    <style>
        a{text-decoration:none;}
        @media(max-width:414px) {
            .row {display:block;width:100%;}
            .second-table {width:100%;margin:10px 0 0 0;}
         }
    </style>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="vcard">
    <tbody>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td><img width="1" height="1" src="{% static 'i/blank.gif' %}" nosend="1" alt=""></td></tr>
            <tr><td style="height:10px;display:block">&nbsp;</td></tr>
            <tr>
                <td style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">
                    <span class="given-name">((FirstName))&nbsp;</span>
                    <span class="family-name">((LastName))</span>
                </td>
            </tr>
            <tr><td><span class="title" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((JobTitle))</span></td></tr>
            <tr><td style="height:10px;display:block">&nbsp;</td></tr>
          </table>
          <table width="100%" cellspacing="0" cellpadding="0" style="border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;">
            <tbody>
              <tr>
                <td class="row">
                  <table class="adr" width="100%" cellspacing="0" border="0" cellpadding="0">
                    <tr><td style="height:10px;display:block">&nbsp;</td></tr>
                    <tr>
                        <td class="tel">
                            <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Tel. Diretto:&nbsp;</span>
                            <a href="tel:((Phone))" class="value" style="text-decoration:none;outline:none;font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((Phone))</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="tel">
                            <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Ufficio:&nbsp;</span>
                            <a href="tel:((Mobile))" class="value" style="text-decoration:none;outline:none;font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((Mobile))</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="email">
                            <span class="type" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">Email:&nbsp;</span>
                            <a href="mailto:((Email))" class="value" style="text-decoration:none;outline:none;font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((Email))</a>
                            <div style="height:10px;display:block">&nbsp;</div>
                        </td>
                    </tr>
                    <tr>
                      <td><span class="org" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">MoneyPark AG</span></td>
                    </tr>
                    <tr>
                      <td><span class="street-address" style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">((Street))</span></td>
                    </tr>
                    <tr>
                      <td style="font-family:Arial,sans-serif;font-size:12pt;color:#494e41;">
                          <span class="postal-code">((ZIP))&nbsp;</span><span class="locality">((City))</span>
                      </td>
                    </tr>
                    <tr><td style="height:20px;display:block">&nbsp;</td></tr>
                    <tr>
                      <td>
                          <a href="https://moneypark.ch/it/" target="_blank" style="font-family:Arial,sans-serif;font-size:20px;color:#789e56;display:block;line-height:52px;padding-right:5px;">
                              <img src="{{ STATIC_URL }}i/lit.png" style="background:transparent;text-align:center;" width="221" height="59" border="0" nosend="1" alt="www.moneypark.ch">
                          </a>
                    </tr>
                  </table>
                </td>
                <td style="text-align:right" class="row" align="right">
                  <table width="275" class="second-table" cellspacing="20" border="0" cellpadding="0" style="background-color:#789e56;text-align:center;" align="right">
                    <tbody>
                      <tr><td style="height:1px;display:block">&nbsp;</td></tr>
                      <tr><td><img src="{{ STATIC_URL }}i/speaker.png" width="83" height="45" nosend="1" alt=""></td></tr>
                      <tr>
                        <td>
                            <a href="https://moneypark.ch/it/raccomandare-moneypark/" target="_blank" style="font-family:Arial,sans-serif;font-size:16px;color:#fff;display:block;line-height:50px;">
                                <img src="{{ STATIC_URL }}i/rit.png" width="210" height="60" border="0" nosend="1" alt="Raccomandare MoneyPark" style="text-align:center;">
                            </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <a href="https://moneypark.ch/it/raccomandare-moneypark/" target="_blank" style="font-family:Arial,sans-serif;font-size:14px;color:#fff;display:block;line-height:28px;">
                                <img src="{{ STATIC_URL }}i/ritun.png" width="210" height="60" border="0" nosend="1" alt="e ricevere un buono di CHF 200" style="text-align:center;">
                            </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" cellspacing="0" border="0" cellpadding="0">
                            <tr>
                              <td><img src="{{ STATIC_URL }}i/lunch.png" width="54" height="52" nosend="1" alt=""></td>
                              <td><img src="{{ STATIC_URL }}i/chair.png" width="54" height="52" nosend="1" alt=""></td>
                              <td><img src="{{ STATIC_URL }}i/mask.png" width="44" height="42" nosend="1" alt=""></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
{% endspaceless %}
<!--end Italian template-->
